# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model weights
*.pt
*.pth

# Dataset folder 
dataset

# Node modules
node_modules/

# IDE & OS files
.vscode/
.DS_Store
*.log

# Uploads & results
uploads/
results/
runs/

# Flask / Django specific (optional)
instance/
*.sqlite3
